a.navbar-item {
    color: #FAFAFF;
    text-align: center;
  }

  body { 
    padding-top: 75px; 
    margin: auto;

}

.tile.is-ancestor{
    margin: auto; 
}
#forecast{
    margin: auto; 
}

.li{
    padding-bottom: 5px; 
}
.clear-btn{
    float: right; 
}